# Logs
*.log

# Temporary files
tmp/

# VS Code
.vscode/

# Node modules
node_modules/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Local notes (Do not upload to GitHub)
notes/

# Sensitive files
*.pem
*.key
*.env
credentials.txt
